<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Panda</title>
</head>
<body>
    <div class="container">
        <p> This is a new panda page!</p>

    </div>
    <form action="/pandas/create" method="POST">
        {% csrf_token %}
        <label for="panda_name">Name</label>
        <input name="panda_name" type="text">
        <!-- same as request.post['panda.name'] -->
        <label for="age">Age</label>
        <input name="age" type="number">
        <label for="sex">Sex</label>
        <select name='sex' id=''>
            <option value="male">Male</option>
            <option value="female">Female</option>
        </select>

        <input type="submit" value="Add Panda">
    </form>
    
</body>
</html>